input {
  background-color: #ccc;
  border: 3px solid white;
  border-radius: 10px;
}

input:focus {
  outline: none;
  background-color: #ccc;
  border: 3px solid black;
  border-radius: 10px;
}

body {
  background-color: #ccc;
}

button {
  background-color: #FFC1CC;
  border: 3px solid white;
  border-radius: 10px;
}

.centered {
  margin: auto;
  width: 100%;
  text-align: center;
  horizontal-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

#tab-header {
  position: fixed;
  max-width: 20%;
  word-break : break-word;
  left: 10%;
  transform: translateX(-50%);
}

#input-header {
  position: fixed;
  max-width: 40%;
  word-wrap : break-word;
  left: 40%;
  transform: translateX(-50%);
}

#results-header {
  position: fixed;
  max-width: 40%;
  word-wrap : break-word;
  left: 80%;
  transform: translateX(-50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: translateY(8px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFC1CC;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

table, th, td {
  border: 3px solid white;
  word-break: break-all;
}

table {
  background-color: #FFC1CC;
  float: left;
  border-collapse: collapse;
  text-align: left;
  width: 100%
}

.tab-header {
  display: block;
  float: left;
  border: 3px solid white;
  border-radius: 20px 20px;
  background-color: lightblue;
  background-radius: 20px 20px;
  width: 20%;
  height: 100%;
}

.tab-header button {
  border-radius: 20px 20px;
  display: block;
  background-color: inherit;
  border: none;
  padding: 15px 15px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab-header button:hover {
  background-color: #ddd;
}

.tab-header button.active {
  background-color: #FFC1CC;
}

.tab {
  border-radius: 20px 20px;
  float: left;
  padding: 15px 15px;
  border: 3px solid white;
  background-color: lightblue;
  width: 40%;
  height: 100%;
}

input {
  width: 100%;
}

#results {
  border-radius: 20px 20px;
  padding: 15px 15px;
  float: left;
  width: 34%;
  height: 100%;
  border: 3px solid white;
  background-color: lightblue;
}

#tab-label {
  position: fixed;
  left: 10%;
  transform: translateX(-50%);
}

#input-label {
  position: fixed;
  left: 40%;
  transform: translateX(-50%);
}

#results-label {
  position: fixed;
  left: 80%;
  transform: translateX(-50%);
}